<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="manifest" href="/static/manifest.json">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/media/favicon.ico" type="image/x-icon" />
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('/static/serviceworker.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
  }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
  });
        });
      }
  </script>
  {% block head %}
  <title>InfiniteLoop</title>
  {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="/static/media/logo.png" height="45" alt="">
            </a>
        </nav>




        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/productos/">Productos</a>



                </li>
                <li class="nav-item">

                  <a class="nav-link" href="/ventas/">Ventas</a>


              </li>
              <li class="nav-item">

                  <a class="nav-link" href="/facturas/">facturas</a>


              </li>
	      <li class="nav-link">
		  <a class="nav-link" href="/">login</a>	
          </ul>

      </div>
  </nav>


  <main> 
      <div class="container" style="min-height: 580px;">
          {% block content %} 
          {% endblock %} 
          <div id="offlinedata">

            <!-- the news will get displayed here from indexedDB in offline mode -->
        </div>
    </div>
</main> 

</body>

<!-- Footer -->
<footer style="background-color: #D8D8D8; position: relative; bottom: 0; width: 100%; height: 100px;">

    <div style="padding: 30px">
        <div style="float: left; width: 400px;" >ISIS-2503 Arquitectura y Diseño de Software</div>
        <div style="float: right; width: 220px;" >Universidad de los Andes</div>
        <br>
        <div style="float: left; width: 400px;" ><i>InfiniteLoop</i></div>
    </div>
    <br>

</footer>
<!-- Footer -->
{%load static %}
<script type="text/javascript" src="{% static 'idb.js' %}"></script>
<script type="text/javascript" src="/static/idbop.js"></script>
</html>
