{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Busqueda</h4>
        </div>
    </div>
    <br>
    <div class="page-content-wrapper">
        <div class="container">
        	<form>
        		<div class="input-group">
        			<input placeholder="Nombre del producto" value="{{ p }}" type="text" name="q" class="form-control form-control-lg">
        			<input type="submit" class="btn btn-dark"  value="Buscar">
        		</div>
        	</form>
        	<br>
            <!-- Content page -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr style="color:#0E2EB0">
                                <th font color="red">Nombre</th>
                                <th>Precio</th>
                                <th>Contidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                            <tr>
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.precio }}</td>
                                <td>{{ producto.cantidad }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div style="text-align:center;">
                        <button type="button" class="btn btn-dark waves-effect waves-light"
                        onClick=" window.location.href='/productos' ">
                        Regresar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}